<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="4" cellspacing="0" align="center">
        <td>Id
        <td>Name
        <td>Email
        <td>Investments
        <td>Action

    </td>
{%for id, value in first.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}

{%for id, value in first.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in second.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in thirst.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in fourth.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in fifth.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in sixth.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in seventh.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in eighth.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in nineth.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>
{%endfor%}
{%for id, value in tenth.items%}
<tr btcolor="#00ffbf">
    <td align="center" bcolor="##00ff4b">{{id}}
        {% for ineia in value%}
        <td align="center">{{ineia}}
        {%endfor%}
        </td>

</tr>
</tr>
{%endfor%}
</body>
</html>
</table>
</FONT>